<div class="container" style="width: 18rem;">
  <h1 class="justify-content-center mt-5">URL Sortener</h1>
  <img
    class="card-img-top justify-content-center mt-5 pt-5"
    src="../images/url.png"
    alt="url"
  />
</div>

<form action="/shortUrls" method="Post">
  <div class="m-5 input-group mb-3 container mt-5 pt-5">
    <input
      id="OriginalURL"
      type="url"
      name="originalUrl"
      class="form-control col mr-2 justify-content-center"
      placeholder="Original URL"
      aria-label="OriginalURL"
      aria-describedby="basic-addon2"
      required
    />
    <div class="input-group-append m-1 mx-3">
      <button type="submit" class="btn btn-outline-success">Shorten</button>
    </div>
  </div>
</form>
