

    
    <form action="/shortURL" method="Post">
        <!-- pic --> 
        <div class="container" style="width: 18rem;">
            <!-- load the files that are in the public directory but do not add public file name or add onerror={()=>{}} -->
            <img class="card-img-top justify-content-center mt-5 pt-5" src="../images/url.png" alt="url">
        </div>
        <!-- input -->
        <div class="m-5 input-group mb-3 container mt-5 pt-5">
            <input id="OriginalURL" type="url" class="form-control col mr-2 justify-content-center" placeholder="Original URL" aria-label="OriginalURL" aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <!-- button --> 
                <button class="btn btn-outline-secondary" type="submit">Shorten</button>
            </div>
        </div> 
    </form>

    <div class="container mt-5">
        <table class="m-5 table table-responsive justify-content-center">
            <thead>
                <tr>      
                <th scope="col">Original URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>      
                <td>
                    <a href="https://12345789546jfahfjz/12345">https://12345789546jfahfjz/12345</a>
                </td>
                <td>
                    <a href="https://.../12345">https://.../12345</a>
                </td>
                <td>10</td>
                </tr>    
            </tbody>
        </table>
    </div>


<!-- output https://.../12345 --> 

<!-- 
    輸入相同網址時，產生一樣的縮址。
    若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者
 -->

 <!-- 可以按 Copy 來複製縮短後的網址 -->